/* Estilo geral */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f8f9fa;
}

.custom-img {
  width: 100%; /* A imagem vai ocupar toda a largura do div */
  height: 100%; /* A imagem vai ocupar toda a altura do div */
  object-fit: cover; /* Garante que a imagem seja cortada para cobrir o espaço do div */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para as imagens */
  transition: transform 0.3s ease-in-out; /* Animação ao passar o mouse */
}

.custom-img:hover {
  transform: scale(1.3); /* Aumenta 30% ao passar o mouse */
}


.carousel-caption h5, 
.carousel-caption p {
  display: block;
  margin-bottom: 10px;
}

.carousel-caption .Description p {
  font-size: 1rem; /* Ajuste o tamanho conforme necessário */
  max-width: 100%; /* Garantir que seja responsivo */
}

.apodDescription {
  background-color: rgba(0, 0, 0, 0.7); /* Fundo preto semi-transparente */
  color: white; /* Texto em branco */
  padding: 15px; /* Espaçamento interno */
  border-bottom-left-radius: 20px; /* Bordas arredondadas no canto inferior esquerdo */
  border-bottom-right-radius: 20px; /* Bordas arredondadas no canto inferior direito */
  text-align: justify; /* Ajusta a formatação do texto */
}

.apodDescription-text {
  margin: 0;
  font-size: 1rem; /* Ajuste do tamanho da fonte */
  line-height: 1.5; /* Espaçamento entre as linhas */
}

/* Estilo para o bloco principal */
.main-block {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #181818;
  text-align: center;
}

.main-block h2 {
  margin-top: 15px;
  font-size: 24px;
  color: #ffffff;
}

.main-block p {
  color: #ffffff;
}

/* Estilo para os blocos pequenos */
.small-block {
  flex: 1 1 30%;
  max-width: 30%;
}

.small-block img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

/* Responsividade */
@media (max-width: 768px) {
  .col-lg-8, .col-lg-4 {
      flex-basis: 100%;
      max-width: 100%;
  }

  .small-block {
      max-width: 45%;
      margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .main-block {
      padding: 10px;
  }

  .main-block h2 {
      font-size: 20px;
  }

  .small-block {
      max-width: 100%;
  }
}
