/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos básicos para o corpo da página */
body {
  height: 150vh;
  font-family: "San Francisco", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-size:cover;
  z-index: -1;
  color: #333;
  overflow-y: scroll;
}
img {
  width: 100%;
  height: auto;
}

/*Estilos para o cabeçalho */
header {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
header img{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  height: 30px;
  border-radius: 0px 0px 0 0;
}
header a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
}

/* Estilos para o conteúdo principal */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}


/* Estilos para as funcionabilidades*/
/*Cronômetro*/
.relogio.pausado {
  color: red;
}


/*Calculadora*/
.calculadora {
  width: 30%;
  margin-left: 1%;
  margin-right: 1%;
  justify-content: center;
  align-items: center;
  display:inline-block;
  color: #fff;
  border: 1px solid #ccc; 
  border-radius: 8px;
}
.displayCalculadora{
  font-size: 2em;
  border-radius: 8px;
  width: 100%;
  text-align: right;
}
#boxCalculadora {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.8);
}
.botao {
  width: 100%;
  height: 50px;
  font-size: 1.5em;
  border-radius: 8px;
  border-style:groove;
  color: #fff;
  background:rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.botao:hover {
  background:rgba(114, 114, 114, 0.8);
}
.botao-igual {
  background:rgb(67, 69, 182);
}
.botao-igual:hover {
  background:rgb(106, 109, 255);
}
.botao-numero{
  color: #fff;
}
.legenda {
  margin-left: 20px;
}



/* SNAKE GAME */
/* Estilo do canvas */
canvas {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 610px;
  height: 610px;
}

.boxsnake {
  width: 98%;
  height: 612px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.8);
  border: 1px solid #CCC;
  border-radius: 8px;
}