<div class="row ">
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img class="img-fluid" src="/Imagens/homeImgs/marsrover.png" alt="Generic placeholder image" width="240" height="240">
      <h2>Explore Mars!</h2>
      <p>Give a chance to the 'red planet' and come take a look in that incredible planet. You will see real photos taken from NASA API, come check and fav the best footage.
          API's used: Mars Rover Photos, InSight: Mars Weather Service API and NASA Image and Video Library</p>
      <p><a class="btn btn-secondary" href="/mars/index" role="button">View details »</a></p>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img class="img-fluid" src="/Imagens/homeImgs/Weather.png" alt="Generic placeholder image" width="240" height="240" >
      <h2 style="text-align: center;">Exploring Weather</h2>
      <p style="text-align: center;">Delve into the intricacies of weather data with NASA's weather API. Access real-time and historical weather information, including temperature, humidity, wind speed, precipitation, and atmospheric conditions, to enhance your understanding of Earth's climate patterns.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img class="img-fluid" src="/Imagens/homeImgs/spacecraft.png" alt="Generic placeholder image" width="240" height="240">
      <h2 style="text-align: center;">SpaceCraft</h2>
      <p style="text-align: center;">Discover the spacecraft humanity uses to explore outer space. Learn their names, descriptions, crew capacity, unmanned or manned flights, flight status and more! This topic has been made with use API Data- Launch Library 2 from TheSpaceDevs.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
</div>