body {
    background-color: black;
}

.container {
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Move o elemento de volta metade de sua própria largura e altura */
}

.texto-import {
    background-color: rgba(128, 128, 128, 0.8);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
