<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div>
    <section class="py-5 container">
        <div class="row py-lg-5">
            <div class="text-align: left">
                <img class="img-fluid" src="/Imagens/eventsLogo.png" alt="Generic placeholder image" width="380" height="280" style="text-align: left;">
                <p class="lead text-body-secondary">
                    Stay tuned for <strong>upcoming events</strong> around the <strong>world.</strong>
                </p>
            </div>
        </div>
    </section>
</div>

<div class="container d-flex">

</div>

<%- include('includes/footer'); %>