<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div>
    <section class="py-5 container">
        <div class="row py-lg-5">
            <div class="text-align: left">
                <img class="img-fluid" src="/Imagens/newsLogo.png" alt="Generic placeholder image" width="300" height="200" style="text-align: left;">
                <p class="lead text-body-secondary">
                    Explore what's <strong>new</strong> in the world of <strong>technology, science and astronomy.</strong>
                </p>
            </div>
        </div>
    </section>
</div>

<%- include('includes/footer'); %>