<div class="row featurette">
    <div class="col-md-6" style="position: relative;">
      <img id="imagemDoDia" src="<%= PictureData.hdurl %>" class="featurette-image img-fluid mx-auto" alt="Imagem do Dia" style="border-radius: 20px; width: 500px; height: 600px;">
    </div>
    <div class="col-md-6">
      <h2 class="featurette-heading">Picture of the Day:</h2>
      <div id="content">
        <h5><%= PictureData.title %></h5>
        <p><%= PictureData.explanation %></p>
        <p>Date: <%= PictureData.date %></p>
      </div>
    </div>
</div>